.App {
  text-align: center;  
}

body {
  margin: 0; /* Elimina el margen por defecto del body */
  overflow-x: hidden; /* Evita el desplazamiento lateral global */  
  background-color: #EEECE6;  
}